{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Editors</h2>
      <p>Only editors should be able to view this page!</p>
    </div>

    <div class="card">
      <h3>Users</h3>
      <table>
        <tr>
          <th>Username</th>
          <th>Password</th>
          <th>Level</th>
          <th>Delete</th>
        </tr>
        {{#users}}
        <tr>
          <td>{{username}}</td>
          <td>{{password}}</td>
          <td>{{level}}</td>
          <td><a href="/editors/deleteuser/{{username}}">D</a></td>
        </tr>
        {{/users}}
      </table>
    </div>

    <div class="card">
      <h3>Articles</h3>
      <table>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>D</th>
        </tr>
        {{#articles}}
        <tr>
          <td>{{title}}</td>
          <td>{{username}}</td>
          <td><a href="/editors/deletearticle/{{id}}">D</a></td>
        </tr>
        {{/articles}}
      </table>
    </div>
  </div>

  {{>sidebar}}

</div>

{{>footer}}